*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: darkgray;
    font-family: Helvetica, Arial, sans-serif;
}

header {

}

footer {

}

/*Hero Style Start*/
/*Hero Style End*/


/*Media query for smaller desktop screens and smaller*/
/*Media query for tablets and smaller*/
/*Media query for Iphones and smaller*/