*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: darkblue;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: darkgray;
}

header h1 {
    border: 3px solid darkblue;
    width: fit-content;
    height: fit-content;
    margin:0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: medium;
    font-size: medium;
}

footer {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: darkgray;
    width: 100%;
    padding: 40px 35px;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

/*Hero Style Start*/
.hero {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap:wrap;
}

.hero-cta {
    background-color:lightskyblue
}

.hero-cta p {
    text-align: left;
}
/*Hero Style End*/


/*Media query for smaller desktop screens and smaller*/
/*Media query for tablets and smaller*/
/*Media query for Iphones and smaller*/