*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: darkblue;
    font-family: Helvetica, Arial, sans-serif;
}
/*Header Start*/
header {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: lightskyblue;
}

header h1 {
    border-bottom: 3px solid darkblue;
    width: fit-content;
    height: fit-content;
    margin:0;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: darkblue;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
}

.section-title {
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    font-size: 48px;
    color: darkblue;
    border-bottom: 3px solid;
}


/*Header End*/

/*Footer Start*/
footer {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: darkgray;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    border-bottom: 3px solid darkblue;
    height:fit-content;
}

footer div {
    line-height: 1.5;
    text-align: right;
    border-bottom:3px solid darkblue;
}
/*Footer End*/

/*Hero Style Start*/
.hero {
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap:wrap;
}

.hero-cta {
    background-color: darkgray;
}

.hero-cta h2 {
    border-bottom: 3px solid darkblue;
    width:fit-content
}

.hero-cta p {
    text-align: left;
}
/*Hero Style End*/

/*My Work Section*/
.run-buddy{
    height: 50%;
    width: 50%;
}
.run-buddy img{
    max-width: 100%;
    max-height: 100%;
}
.gray-square {
    height: 25%;
    width: 25%;
}
.gray-square img {
    max-width: 100%;
    max-height: 100%;
}
/*End My Work Section*/

/*Resume Section*/
.resume {
    margin:auto;
}
/*End Resume Section*/


/*Media query for smaller desktop screens and smaller*/
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
  
      header h1 {
        width: 100%;
        text-align: center;
      }
  
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
  
      header nav ul li a {
        font-size: 20px;
      }
  
      footer h2, footer div {
        text-align: center;
        width: 100%;
      }
  
      .hero-cta {
        width: 100%;
      }
  
      .hero-cta {
        text-align: center;
      }
  
      .section-title {
        width: 80%;
      }
}
/*Media query for tablets and smaller*/
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
      }
}
/*Media query for Iphones and smaller*/
@media screen and (max-width: 575px) {
    .section-title {
        width: 95%;
      }
}